/* Hide scrollbars for all elements */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1{
  margin: 0;
  font-size: 21px;
}
h2{
  margin: 0;
  font-size: 18px;
}
h3{
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}
h4{
  margin: 0;
  font-size: 14px;
}
h5{
  margin: 0;
  font-size: 12px;
  font-weight: 200;
}
svg{
  height: 18px;
  width: 18px;
  padding: 8px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  
}
.gray-color{
  color: #7b7b7b;
}
.color-blue{
  color: #1D4ED8;
}
.bagColor-blue{
  background-color: #1D4ED8;
}
.flex{
  display: flex;
  align-items: center;
  gap: 8px;
}
.gap16{
  gap: 16px;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.justifyBtwn{
  justify-content: space-between;
}
.lightShadow{
  box-shadow: -1px 5px 10px rgb(234, 233, 233);
}

.Highlight-lite{
    
    background-color: #aec9d141;
    padding:4px 4px ;
    border-radius: 8px;
}

.App {
  display: grid;
  grid-template-columns: 64px 1fr; /* Sidebar 64*/
  grid-template-rows: 80px 1fr; /* Header 100 */
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh; /* Make the container take the full viewport height */
}


.sidebar {
  grid-area: sidebar;
  background-color: #fff;
  color: #323232;
  padding: 20px;
  border-right: 0.4px solid #e8eafa;
  position: fixed;
  left: 0%;
}



.header {
  grid-area: header;
  background-color: #f7f8fe;
  color: #7b7b7b;
  padding:24px;
  padding-bottom: 0px;
  position: fixed;
  left: 6.5%;
  width: 90%;
  z-index: 10;
  
}

.main {
  grid-area: main;
  padding:16px 24px;
  background-color: #f7f8fe;

 
}


.App {
  font-family: Arial, sans-serif;
}


