body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1{
  margin: 0;
  font-size: 21px;
}
h2{
  margin: 0;
  font-size: 19px;
}
h3{
  margin: 0;
  font-size: 16px;
}
h4{
  margin: 0;
  font-size: 14px;
}
h5{
  margin: 0;
  font-size: 12px;
}
svg{
  height: 18px;
  width: 18px;
}
.gray-color{
  color: #7b7b7b;
}
.blue-color{
  color: rgb(123, 123, 250);
}
.flex{
  display: flex;
  align-items: center;
  gap: 16px;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.justifyBtwn{
  justify-content: space-between;
}

.App {
  display: grid;
  grid-template-columns: 64px 1fr; /* Sidebar 64*/
  grid-template-rows: 80px 1fr; /* Header 100 */
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh; /* Make the container take the full viewport height */
}

.sidebar {
  grid-area: sidebar;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border: 1px solid red;
}

.header {
  grid-area: header;
  background-color: rgb(255, 255, 255);
  color: #7b7b7b;
  padding: 16px;
  border: 1px solid red;
}

.main {
  grid-area: main;
  padding: 16px;
  border: 1px solid red;
}


.container {
  font-family: Arial, sans-serif;
}


